body {
    background-color: black;
    font-family: consolas;
    color: lime;
    text-shadow: 0 0 2px lime, 0 0 2px lime;
    overflow: hidden;
}

.row {
    position: relative;
    margin: auto;
    width: 50vw;
    display: flex;
    flex-direction: row;
    height: calc(100vh - 12px);
}

.column {
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    width: 600px;
}

.card {
    border: 2px lime solid;
    box-shadow: 0 0 4px lime, 0 0 4px lime;
    display: flex;
    flex-direction: column;
    padding: 12px;
    margin-bottom: 12px;
    max-height: fit-content;
}

.content {
    overflow: hidden;
    overflow-y: auto;
    /* height: 100%; */
}

.card.max {
    min-height: fit-content;
}

.card.flex {
    min-height: 100px;
}

.title {
    text-decoration: underline;
}

.dash {
    width: 100%;
    height: 2px;
    border-bottom: 2px lime dashed;
    width: 100%;
    margin-bottom: 12px;
}

::selection {
    background: lime;
    box-shadow: 0 0 4px lime, 0 0 4px lime;
    color: black;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: lime;
}

::-webkit-scrollbar-thumb:hover {
    background: lime;
}
